# G7 Python 入门课程
## 项目1 Python操作入门

入门可能主要是读取税前薪水和可能的纳税额，根据正确的公式，判断是否正确

**提示**：这样的文字将会指导你如何使用 iPython Notebook 来完成项目。

In [159]:
# 检查你的Python版本
from sys import version_info
if version_info.major != 2 and version_info.minor != 7:
    raise Exception('请使用Python 2.7来完成此项目')

In [160]:
import numpy as np
import pandas as pd

# 数据可视化代码
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline

# 加载数据集
in_file = 'data.csv'
full_data = pd.read_csv(in_file)

# 显示数据列表中的前几项数据
display(full_data.head())

    name  salary  tax_maybe
0   wang    2500          0
1  zhang    7000        105
2     li    8000        205
3   song    9000        405
4   tang   50000        800

数据样本中，我们可以看到的特征

- **name**：名称
- **salary**：税前薪水
- **tax_maybe**：可能的缴税额度

个税的计算方式
![xxx](https://img-blog.csdn.net/20171017113915227?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvVG9nZXRoZXJfQ1o=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center)

In [204]:
def calculator(salary):
    """ 返回税后薪水 """
    
    point = 3500  #免征额
    endowment_insurance_rate = 0.08  # 养老保险费率
    hospital_rate = 0.02  # 医疗保险费率
    losejob_rate = 0.01  # 失业保险费率
    provident_rate = 0.12  # 公积金费率
    provident_max = 20972 # 公积金基数最大值
    provident_min = 1500 # 公积金基数最小值
    
    endowment_insurance_min = 2193 # 养老保险基数最小值
    endowment_insurance_max = 16445 #养老保险基数最大值
    
    # TODO 请正确计算纳税额，返回税后薪水，并替换下面的一行
    if(0<=salary<provident_min):
        othertax = endowment_insurance_min*0.08+salary*0.02+salary*0.01+provident_min*0.12
    if(provident_min<=salary<=endowment_insurance_min):
        othertax = endowment_insurance_min*0.08+salary*0.02+salary*0.01+salary*0.12
    if(endowment_insurance_min<salary<=3500):
        othertax = salary*0.08+salary*0.02+salary*0.01+salary*0.12
    if(3500<salary<=3500+1500):
        othertax = salary*0.08+salary*0.02+salary*0.01+salary*0.12+(salary-3500)*0.03-0
    if(3500+1500<salary<=3500+4500):
        othertax = salary*0.08+salary*0.02+salary*0.01+salary*0.12+(salary-3500)*0.1-105
    if(3500+4500<salary<=3500+9000):
        othertax = salary*0.08+salary*0.02+salary*0.01+salary*0.12+(salary-3500)*0.2-555
    if(3500+9000<salary<endowment_insurance_max):
        othertax = salary*0.08+salary*0.02+salary*0.01+salary*0.12+(salary-3500)*0.25-1005
    if(endowment_insurance_max<=salary<provident_max):
        othertax = endowment_insurance_max*0.08+salary*0.02+salary*0.01+salary*0.12+(salary-3500)*0.25-1005
    if(provident_max<=salary<=3500+35000):
        othertax = endowment_insurance_max*0.08+salary*0.02+salary*0.01+provident_max*0.12+(salary-3500)*0.25-1005
    if(3500+35000<salary<=3500+55000):
        othertax = endowment_insurance_max*0.08+salary*0.02+salary*0.01+provident_max*0.12+(salary-3500)*0.3-2755
    if(3500+55000<salary<=3500+80000):
        othertax = endowment_insurance_max*0.08+salary*0.02+salary*0.01+provident_max*0.12+(salary-3500)*0.35-5505
    if(3500+80000<salary):
        othertax = endowment_insurance_max*0.08+salary*0.02+salary*0.01+provident_max*0.12+(salary-3500)*0.45-13505
        
    res_money = salary-othertax
    
    print '税前工资为：{0}, 税后工资为：{1}, 税为：{2}'.format(salary, res_money,othertax) 
    return res_money

In [205]:
taxs = {}
for index, salary in full_data.iterrows():
    tax = calculator(salary['salary'])
    taxs[salary['name']] = tax
    if (tax == salary['tax_maybe']):
        print "so cool"

税前工资为：2500, 税后工资为：1925.0, 税为：575.0
税前工资为：7000, 税后工资为：5145.0, 税为：1855.0
税前工资为：8000, 税后工资为：5815.0, 税为：2185.0
税前工资为：9000, 税后工资为：6385.0, 税为：2615.0
税前工资为：50000, 税后工资为：33472.76, 税为：16527.24

## 扩展内容
将正确的纳税额导出到export.csv，并计算预测的正确率

In [206]:

def export() :
    # TODO 请导出正确的纳税额到export.csv, tax作为最后一列     
    for index, salary in full_data.iterrows():   
        resmoney = calculator(salary['salary'])    
        full_data['tax'][index]=salary['salary']-resmoney
        full_data.to_csv('E:\G7\G7_python_helloworld\export.csv',encoding = 'utf-8', index = False)
    print "export done"
export()

# 加载数据集
in_file = 'export.csv'
export_data = pd.read_csv(in_file)

# 显示数据列表中的前几项数据
display(export_data.head())

税前工资为：2500, 税后工资为：1925.0, 税为：575.0
税前工资为：7000, 税后工资为：5145.0, 税为：1855.0
税前工资为：8000, 税后工资为：5815.0, 税为：2185.0
税前工资为：9000, 税后工资为：6385.0, 税为：2615.0
税前工资为：50000, 税后工资为：33472.76, 税为：16527.24

e:\python27\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

export done

    name  salary  tax_maybe       tax
0   wang    2500          0    575.00
1  zhang    7000        105   1855.00
2     li    8000        205   2185.00
3   song    9000        405   2615.00
4   tang   50000        800  16527.24

In [207]:
def accuracy_score():
    # TODO 计算正确率   
    socre = 0
    count = 0
    leng = len(export_data)
    for index, salary in export_data.iterrows():                
        tax = export_data['tax'][index]
        taxmay = export_data['tax_maybe'][index]
        if(tax==taxmay):
            count +=0;
            
        score = count/leng
    
    return "accuracy of {:.2f}%.".format(socre)
accuracy_score()

'accuracy of 0.00%.'

> **注意**: 当你写完了所有**4个TODO**。你就可以把你的 iPython Notebook 导出成 HTML 文件。你可以在菜单栏，这样导出**File -> Download as -> HTML (.html)** 把这个 HTML 和这个 iPython notebook 一起做为你的作业提交。